<% layout("/layouts/boilerplate") -%>

<br /><br />
<div class="row">
  <div class="col-8 offset-2">
    <h1>Create a new listing</h1>
    <form method="POST" action="/listings" novalidate class="needs-validation">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          name="listing[title]"
          placeholder="Add a catchy title"
          class="form-control"
          required
        />
        <div class="valid-feedback">Tital Looks good!</div>
        <div class="invalid-feedback">Enter a Tital!</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          name="listing[description]"
          placeholder="write description about your place "
          class="form-control"
          required
        ></textarea>
        <div class="invalid-feedback">Please enter a short description!</div>
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Image</label>
        <input
          type="text"
          name="listing[image][url]"
          placeholder="enter image URL/Link"
          class="form-control"
        />
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            name="listing[price]"
            placeholder="1200"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please enter price!</div>
        </div>

        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
            type="text"
            name="listing[country]"
            placeholder="India"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please enter Country name!</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          name="listing[location]"
          placeholder="enter location"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Enter a valid locations!</div>
      </div>

      <button class="btn btn-dark add-btn">Add</button>
    </form>
  </div>
</div>
<br /><br />
